.appForm {
  background: lightgray;
  height: 60%;
  width: 60%;
  margin: 0 auto;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

fieldset {
  width: 80%;
  padding: 1rem;
}

fieldset > div {
  display: flex;
  justify-content: space-between;
}

button[type="submit"] {
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid black;
}

.form-control {
  text-align: right;
}
